
.button {
    -fx-background-color: #b21b3c;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.buttonPressed {
    -fx-background-color: rgba(127, 57, 65, 0.45);
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.botonPrimario{
    -fx-background-color: #1368ce;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;

}

.botonPrimario:hover{
    -fx-background-color: #0542b9; /* Green */
    color: white;
}

.botonPrimarioGrande{
    -fx-background-color: #0542b9;
    -fx-border-radius: 35px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.botonPrimarioGrande:hover{
    -fx-background-color: #1368ce;
    color: white;
}


.button1 {
    -fx-background-color: #046c5c;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button2 {
    -fx-background-color: #066db1;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button3 {
    -fx-background-color: #6b1bde;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button4 {
    -fx-background-color: #d926d6;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button5 {
    -fx-background-color: #dcc531;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button6 {
    -fx-background-color: #0f2b03;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button1:hover {
    -fx-background-color: #032a22; /* Green */
    color: white;
}

.button2:hover {
    -fx-background-color: #03273e;
    color: white;
}

.button3:hover {
    -fx-background-color: #3d0a87;
    color: white;
}

.button4:hover {
    -fx-background-color: #740a72;
    color: white;
}

.my-button5:hover {
    -fx-background-color: #786a0f;
    color: white;
}

.my-button6:hover {
    -fx-background-color: #40b80a;
    color: white;
}

.button5:hover{
    -fx-background-color: #8b096f;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button6:hover{
    -fx-background-color: #117459;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}


.enunciado-text{
    -fx-text-fill: white;
}

.otros-text{
     -fx-font-size: 16px;
     -fx-font-weight: bold;
     -fx-text-fill: black;
 }

.tiempo-text{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.ganadorAlgohoot{
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.enunciado-style {
    -fx-background-color: #7e4fb9;
    -fx-border-radius: 40px;
}

.fondo-general {
    -fx-background-color: rgba(194, 194, 194, 0.35);
}

.botonConfirmarSeleccion{
    -fx-background-color: #26890c;
    -fx-border-radius: 35px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
    -fx-pref-height: 40px;
    -fx-pref-width: 150px;
}

.botonConfirmarSeleccion:hover{
    -fx-background-color: #106b03;
    color: white;
}

.botonSiguientePregunta{
    -fx-background-color: #0541b4;
    -fx-border-radius: 35px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
}

.botonSiguientePregunta:hover{
    -fx-background-color: #042e7d;
    color: white;
}
