
.button {
    -fx-background-color: #b21b3c;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button2 {
    -fx-background-color: #26890c;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button3 {
    -fx-background-color: #ffa602;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.my-button4 {
    -fx-background-color: #1368ce;
    -fx-border-radius: 20px;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-font-color: white;
}

.button:hover {
    -fx-background-color: #c60929; /* Green */
    color: white;
}

.button2:hover {
    -fx-background-color: #106b03;
    color: white;
}

.button3:hover {
    -fx-background-color: #d89e00;
    color: white;
}

.my-button4:hover {
    -fx-background-color: #0542b9;
    color: white;
}

.enunciado-text{
    -fx-text-fill: white;
}

.otros-text{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.enunciado-style {
    -fx-background-color: #7e4fb9;
    -fx-border-radius: 40px;
}

.fondo-general {
    -fx-background-color: rgba(194, 194, 194, 0.35);
}